---
title: Equippers Berlin
hero_image: /uploads/hero-1440.jpg
service_time_: '11:00 Uhr'
location: Maritim Hotel Berlin (Stauffenbergstraße)
bvg_link: 'http://fahrinfo.vbb.de/bin/query.exe/dn?SID=@&ZID=A=2@O=10785%20Berlin-Tiergarten,%20Stauffenbergstr.%2026@U=103@L=770018679@B=1@V=3.9,@p=1524056779@@&timesel=arrive&date=20.05.2018&time=10:45&externalCall=yes&start=yes'
events:
  - title: Openair-Gottesdienst mit Pastor Sam Monk
    date: 2018-05-13 11:00:00 +0200
    description: >-
      Diese Woche feiern wir Gottesdienst im Natur-Park Schöneberger Südgelände
      und wir haben Sam Monk aus Auckland, Neuseeland zu Gast. Pastor Sam und
      seine Frau Kathy leiten die Equippers-Gemeinden in Auckland und das
      Equippers Netzwerk in Neuseeland. Der Park verlangt für die Nutzung eine
      Gebühr von 1€ (ab 14 Jahren). Sollte es dir nicht möglich sein, dies zu
      tun, dann lass dich davon nicht abhalten, zum Gottesdienst zu kommen. Dann
      laden wir dich natürlich ein 🙌 (am Eingang werden Ordner mit 1€-Münzen
      stehen).
  - title: Gottesdienst im Maritim Hotel Berlin
    date: 2018-05-20 11:00:00 +0200
    description: >-
      Unser neuer Veranstaltungsort für den restlichen Mai ist das Maritim Hotel in der
      Stauffenbergstraße.
  - title: Equippers Konferenz
    date: 2018-11-02 01:00:00 +0100
    description: >-
      Unsere jährliche Konferenz findet dieses Jahr am 2. und 3. November statt.
      Save the date!
promos:
  - title: Equippers Konferenz
    subtitle: 2. & 3. November 2018
    background_image: /uploads/shout.jpg
    link: konferenz
  - title: Equippers College
    subtitle: Be the Next Wave
    link: 'https://equipperscollege.com'
    background_image: /uploads/college.jpg
  - title: Music
    subtitle: The Sound of our Praise
    background_image: /uploads/clrs.jpg
    link: 'https://www.equipperschurch.com/music'
communities:
  - title: Youth
    goes_to: /berlin/youth
    image: /uploads/youth-600.jpg
  - title: Junge Erwachsene
    goes_to: /berlin/ya
    image: /uploads/ya-600.jpg
  - title: Kids
    goes_to: /berlin/kids
    image: /uploads/kids-600.jpg
  - title: Sistas
    goes_to: /berlin/sistas
    image: /uploads/miriam-600.jpg
  - title: Kleingruppen
    goes_to: /berlin/kleingruppen
    image: /uploads/people-600.jpg
  - title: Praktikum
    goes_to: /berlin/internship
    image: /uploads/praktikum-600.jpg
connect:
  - title: Facebook
    svg_icon_id: facebook
    link: 'https://www.facebook.com/equippersberlin'
  - title: Instagram
    svg_icon_id: instagram
    link: 'https://www.instagram.com/equippersberlin/'
  - title: Newsletter
    svg_icon_id: newsletter
    link: 'https://eepurl.com/dhD0zz'
  - title: Podcast
    svg_icon_id: podcast
    link: 'https://overcast.fm/itunes977023058/equippers-berlin'
---

<section class="dark hero" {% if page.hero_image %}style="background-image: url('{{ page.hero_image }}');"{% endif %}>
	<div class="content text-center">
		<h2 class="editable no-margin-after">Gottesdienst diesen Sonntag:</h2>
		<p>
			<span class="light-font" style="font-size: 2.5em;">{{ page.service_time_ }}</span><br />
			{{ page.location }}
		</p>

		<p>
      <a href="https://www.google.com/maps/dir/?api=1&destination={{ page.location | url_encode }}" target="_blank">
        Anfahrt mit Google Maps
      </a>
      <br>
			{% if page.bvg_link != '' %}<a href="{{ page.bvg_link }}" target="_blank">Anfahrt mit BVG</a>{% endif %}
		</p>
	</div>
</section>


<section class="padding-vertical">
	<div class="content text-center">
		<p class="editable text-max-width"><strong>Equippers Berlin ist Kirche anders als du denkst.</strong> Wir sind Freunde, die sich gegenseitig unterstützen und anfeuern, mit Gott ganze Sache zu machen. Unsere Mission ist es, Menschen durch den Glauben an Jesus Christus für das Leben auszurüsten.</p>

		<p><a href="/berlin/about" class="button outline">Mehr über uns</a></p>
	</div>
</section>

<section class="dark padding-vertical">
	<div class="content">
		<h1 class="editable">Events</h1>
		{% include events.html events=page.events %}
	</div>
</section>

<section class="promos dark">
	{% for promo in page.promos %}
		<a
      href="{{ promo.link }}"
      class="square {% if promo.overlay != false %}overlay{% endif %}"
      style="background-image: url('{{ promo.background_image }}')"
    >
			<h2 class="uppercase no-margin">{{ promo.title }}</h2>
			<p class="no-margin">{{ promo.subtitle }}</p>
		</a>
	{% endfor %}
</section>

<section class="communities padding-vertical">
	<div class="content">
		<h1 class="editable">Werde Teil</h1>
		<div class="grid">
			{% for community in page.communities %}
				<a href="{{ community.goes_to }}" class="card">
					<div class="img" style="background-image: url('{{ community.image }}')"></div>
					<div class="title">{{ community.title }}</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>

<section class="padding-top">
	<div class="content">
		<h1 class="editable">Bleibe auf dem Laufenden</h1>
	</div>
	{% include squares.html squares=page.connect %}
</section>
