---
layout: base
title: Equippers Berlin
nav:
  - title: Home
    path: /berlin
  - title: Über uns
    path: /berlin/about
  - title: Equip
    path: /berlin/equip
  - title: Kleingruppen
    path: /berlin/kleingruppen
  - title: Podcast
    path: 'https://overcast.fm/itunes977023058/equippers-berlin'
  - title: Kontakt
    path: '/berlin/#contact'
hero_image:
hero_html: <h1>Kirche anders als du denkst</h1>
service_time_: 11:00 Uhr
location: 'Blissestraße 2, 10713 Berlin'
gmaps_link: 'https://maps.google.de/maps?daddr=Blissestr.%202%2010713%20Berlin'
bvg_link: https://www.bvg.de/index.php/de/widgets/fahrinfo/1/300/6/Blissestr.%202+10713+Berlin
events:
  - title: Equippers Konferenz
    date: 2018-11-02 00:00:00
    description: Unsere jährliche Konferenz findet dieses Jahr am 2. und 3. November statt. Save the date!
communities:
  - title: Youth
    path: /berlin/youth
    image: /images/CLRS.jpg
  - title: YA
    path: /berlin/ya
    image: /images/CLRS.jpg
  - title: Kids
    path: /berlin/kids
    image: /images/CLRS.jpg
  - title: Sistas
    path: /berlin/sistas
    image: /images/CLRS.jpg
  - title: Kleingruppen
    path: /berlin/kleingruppen
    image: /images/CLRS.jpg
  - title: Praktikum
    path: /berlin/praktikum
    image: /images/CLRS.jpg
contact:
  address: Blissestr. 2, 10713 Berlin
  email: mail@equippers.de
  phone: +49 (0)30 3180 4840
  phone_link: '+493031804840'
bank_account:
  holder: Equippers Berlin e. V.
  iban: DE39100500000190371552
  bic: BELADEBE
  bank: Berliner Sparkasse
---

{% include header.html nav=page.nav %}

{% include hero.html content=page.hero_html image=page.hero_image %}

<section>
	<div class="editable content centered">
		<p><strong>Equippers Berlin</strong> ist eine Kirche, die Menschen dient. Wir sind Freunde, die sich gegenseitig unterstützen und anfeuern, mit Gott ganze Sache zu machen. Unsere Mission ist es, dich durch den Glauben an Jesus Christus für das Leben auszurüsten.</p>
	</div>

	<div class="content centered">
		<a href="/about" class="button outline white">Mehr über uns</a>

		<h2 class="editable padding-top">Gottesdienst diesen Sonntag:</h2>
		<p>
			<span style="font-size: 2.5em; font-weight: 100">{{ page.service_time_ }}</span><br />
			{{ page.location }}
		</p>

		<p>
			<a href="{{ page.gmaps_link }}">Anfahrt mit Google Maps</a><br />
			<a href="{{ page.bvg_link }}">Anfahrt mit BVG</a>
		</p>
	</div>
</section>

<section class="events dark padding-vertical">
	<div class="content">
		<h1 class="editable">Events</h1>
		{% include events.html events=page.events %}
	</div>
</section>

<section class="communities padding-vertical">
	<div class="content">
		<h1 class="editable">Werde Teil</h1>
		<div class="grid">
			{% for community in page.communities %}
				<a href="community.path" class="card">
					<div class="img" style="background-image: url({{ community.image }})"></div>
					<div class="title">{{ community.title }}</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>

<section class="connect padding-top">
	<div class="content">
		<h1 class="editable">Bleibe auf dem Laufenden</h1>
	</div>
	<div class="grid">
		<div>
			<div class="icon">🤦🏻‍♂️</div>
			<div class="title">Facepalm</div>
		</div>
		<div>
			<div class="icon">🤓</div>
			<div class="title">Twitter</div>
		</div>
		<div>
			<div class="icon">✉️</div>
			<div class="title">Newsletter</div>
		</div>
		<div>
			<div class="icon">🎧</div>
			<div class="title">Podcast</div>
		</div>
	</div>
</section>


<footer class="padding-vertical">
	<div class="content">
		{% include footer.html contact=page.contact bank_account=page.bank_account %}
	</div>
</footer>
