---
title: Equippers Berlin
hero_image: /uploads/hero-1440.jpg
service_time_: '11:00 Uhr'
location: Maritim proArte Hotel Berlin (Friedrichstraße&nbsp;151)
bvg_link: 'http://fahrinfo.vbb.de/bin/query.exe/dn?SID=@&ZID=A=2@O=10117%20Berlin-Mitte,%20Friedrichstr.%20151@X=13388570@Y=52518389@U=103@L=770015582@B=1@V=3.9,@p=1524056779@@&timesel=arrive&date=08.07.2018&time=09:45&externalCall=yes&start=yes'
location_staufenbergstr: Maritim Hotel Berlin (Stauffenbergstraße&nbsp;26)
bvg_link_staufenbergstr: 'http://fahrinfo.vbb.de/bin/query.exe/dn?SID=@&ZID=A=2@O=10785%20Berlin-Tiergarten,%20Stauffenbergstr.%2026@U=103@L=770018679@B=1@V=3.9,@p=1524056779@@&timesel=arrive&date=20.05.2018&time=10:45&externalCall=yes&start=yes'
events:
  - title: Gottesdienst im Maritim proArte Hotel Berlin
    date: 2018-07-08 11:00:00 +0200
    description: >-
      Unser Veranstaltungsort für den 08.07 ist das Maritim proArte Hotel in der <a href="https://goo.gl/maps/AsCKUFmbLyJ2" target="_blank">Friedrichstrasse.</a>
  - title: Gottesdienst im Maritim Hotel Berlin Stauffenbergstrasse
    date: 2018-07-15 11:00:00 +0200
    description: >-
      Unser Veranstaltungsort für den 15.07 ist das Maritim Hotel in der <a href="https://goo.gl/maps/P7DkQBj2Vr72" target="_blank">Stauffenbergstrasse.</a>
  - title: Gottesdienst im Maritim Hotel Berlin Stauffenbergstrasse
    date: 2018-07-22 11:00:00 +0200
    description: >-
      Unser Veranstaltungsort für den 22.07 ist das Maritim Hotel in der <a href="https://goo.gl/maps/P7DkQBj2Vr72" target="_blank">Stauffenbergstrasse.</a>
  - title: Gottesdienst im Maritim Hotel Berlin Stauffenbergstrasse
    date: 2018-07-29 11:00:00 +0200
    description: >-
      Unser Veranstaltungsort für den 29.07 ist das Maritim Hotel in der <a href="https://goo.gl/maps/P7DkQBj2Vr72" target="_blank">Stauffenbergstrasse.</a>
  - title: Gottesdienst im Maritim proArte Hotel Berlin
    date: 2018-08-05 11:00:00 +0200
    description: >-
      Unser Veranstaltungsort für den 05.08 ist das Maritim proArte Hotel in der <a href="https://goo.gl/maps/AsCKUFmbLyJ2" target="_blank">Friedrichstrasse.</a>
  - title: Gottesdienst im Maritim proArte Hotel Berlin
    date: 2018-08-12 11:00:00 +0200
    description: >-
      Unser Veranstaltungsort für den 12.08 ist das Maritim proArte Hotel in der <a href="https://goo.gl/maps/AsCKUFmbLyJ2" target="_blank">Friedrichstrasse.</a>
  - title: Gottesdienst im Maritim Hotel Berlin Stauffenbergstrasse
    date: 2018-08-19 11:00:00 +0200
    description: >-
      Unser Veranstaltungsort ab den 19.08 ist das Maritim Hotel in der <a href="https://goo.gl/maps/P7DkQBj2Vr72" target="_blank">Stauffenbergstrasse.</a>
  - title: Connect 2018 - Leadership Summit
    date: 2018-11-02 01:00:00 +0100
    description: null
- title: Connect 2018 - Konferenz
    date: 2018-11-02 01:00:00 +0100
    description: >-
      Unsere jährliche Konferenz findet dieses Jahr am 2. und 3. November statt.
      Save the date!
promos:
  - title: Equippers Konferenz
    subtitle: 2. & 3. November 2018
    background_image: /uploads/shout.jpg
    link: konferenz
  - title: Equippers College
    subtitle: Be the Next Wave
    link: 'https://equipperscollege.com'
    background_image: /uploads/college.jpg
  - title: Music
    subtitle: The Sound of our Praise
    background_image: /uploads/clrs.jpg
    link: 'https://www.equipperschurch.com/music'
communities:
  - title: Youth
    goes_to: /berlin/youth
    image: /uploads/youth-600.jpg
  - title: Junge Erwachsene
    goes_to: /berlin/ya
    image: /uploads/ya-600.jpg
  - title: Kids
    goes_to: /berlin/kids
    image: /uploads/kids-600.jpg
  - title: Sistas
    goes_to: /berlin/sistas
    image: /uploads/miriam-600.jpg
  - title: Kleingruppen
    goes_to: /berlin/kleingruppen
    image: /uploads/people-600.jpg
  - title: Praktikum
    goes_to: /berlin/internship
    image: /uploads/praktikum-600.jpg
connect:
  - title: Facebook
    svg_icon_id: facebook
    link: 'https://www.facebook.com/equippersberlin'
  - title: Instagram
    svg_icon_id: instagram
    link: 'https://www.instagram.com/equippersberlin/'
  - title: Newsletter
    svg_icon_id: newsletter
    link: 'https://eepurl.com/dhD0zz'
  - title: Podcast
    svg_icon_id: podcast
    link: 'https://overcast.fm/itunes977023058/equippers-berlin'
---

<section class="dark hero overlay strength-7" {% if page.hero_image %}style="background-image: url('{{ page.hero_image }}');"{% endif %}>
	<div class="content text-center">
		<h2 class="editable no-margin-after">Gottesdienst diesen Sonntag:</h2>
		<p>
			<span class="light-font" style="font-size: 2.5em;">{{ page.service_time_ }}</span><br />
			{{ page.location }}
		</p>

		<p>
			<a
				href="https://www.google.com/maps/dir/?api=1&destination={{ page.location | url_encode }}"
				target="_blank"
			>Anfahrt mit Google Maps</a>
			<br>
			{% if page.bvg_link != '' %}<a href="{{ page.bvg_link }}" target="_blank">Anfahrt mit BVG</a>{% endif %}
		</p>
	</div>
</section>


<section class="padding-vertical">
	<div class="content text-center">
		<p class="editable text-max-width"><strong>Equippers Berlin ist Kirche anders als du denkst.</strong> Wir sind Freunde, die sich gegenseitig unterstützen und anfeuern, mit Gott ganze Sache zu machen. Unsere Mission ist es, Menschen durch den Glauben an Jesus Christus für das Leben auszurüsten.</p>

		<p><a href="/berlin/about" class="button outline">Mehr über uns</a></p>
	</div>
</section>

<section class="dark padding-vertical">
	<div class="content">
		<h1 class="editable">Events</h1>
		{% include events.html events=page.events %}
	</div>
</section>

<section class="promos dark">
	{% for promo in page.promos %}
		<a
      href="{{ promo.link }}"
      class="square {% if promo.overlay != false %}overlay{% endif %}"
      style="background-image: url('{{ promo.background_image }}')"
    >
			<h2 class="uppercase no-margin">{{ promo.title }}</h2>
			<p class="no-margin">{{ promo.subtitle }}</p>
		</a>
	{% endfor %}
</section>

<section class="communities padding-vertical">
	<div class="content">
		<h1 class="editable">Werde Teil</h1>
		<div class="grid">
			{% for community in page.communities %}
				<a href="{{ community.goes_to }}" class="card">
					<div class="img" style="background-image: url('{{ community.image }}')"></div>
					<div class="title">{{ community.title }}</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>

<section class="padding-top">
	<div class="content">
		<h1 class="editable">Bleibe auf dem Laufenden</h1>
	</div>
	{% include squares.html squares=page.connect %}
</section>
