---
title: Equippers
locations:
  - title: Berlin
    goes_to: /berlin
    image: /uploads/berlin-1440.jpg
  - title: Hamburg
    goes_to: /hamburg
    image: /uploads/hamburg-4-1440.jpg
  - title: München
    goes_to: /muenchen
    image: /uploads/munich-1440.jpg
_defaults:
  locations:
    - title:
      sub_title:
      goes_to:
      image:
      background_position:
---

<section class="landing-logo">
	{% include logo.html %}
</section>

<section class="landing dark">
	{% for location in page.locations %}
		<a
			{% if location.goes_to %}href="{{ location.goes_to }}"{% endif %}
			class="text-center"
			style="
				background-image: url('{{ location.image }}');
				{% if location.background_position %}background-position: {{ location.background_position }}{% endif %}
			"
		>
			<h1 class="uppercase no-margin">{{ location.title }}</h1>
			{% if location.sub_title %}<p class="no-margin">{{ location.sub_title }}</p>{% endif %}
		</a>
	{% endfor %}
</section>
