footer
	font-size: 0.9em
	margin-bottom: 2rem

	background: linear-gradient(to bottom, #f9f9f9, $white)
	color: lighten($dark, 15%)

	ul
		list-style-type: none
		padding: 0

		@media (min-width: $tablet-breakpoint)
			li
				display: inline-block

				&:not(:last-of-type)::after
					content: " \0000B7 "
