.hero
	height: 50vh
	max-height: 100vw

	background-color: $dark-gray
	background-size: cover
	background-position: center

	display: grid
	align-items: center
	justify-items: center

	.content
		color: $white
		text-align: center
		text-transform: uppercase
		margin: 0 1em

		@media (min-width: $tablet-breakpoint)
			font-size: 1.25em