.hero
	min-height: 66vh
	// max-height: 100vw

	background-color: $brand-red
	background-size: cover
	background-position: center

	display: grid
	align-items: center
	justify-items: center

	.content
		max-width: 48rem
		color: $white
		text-align: center
		text-transform: uppercase