.hero
	min-height: 50vh

	makeGrid(1fr)
	align-items: center
	justify-items: center

	.content
		padding-top: 2em
		padding-bottom: @padding-top

		@media (min-width: $tablet-breakpoint)
			font-size: 1.25em
