{% for event in include.events %}
	<h3 data-date="{{ event.date | date: '%s' }}">
		<span class="uppercase">{{ event.date | date: '%e.%m.' }}</span> | {{ event.title }}
	</h3>
	{% if event.description %}<p data-date="{{ event.date | date: '%s' }}">
		{{ event.description }}
	</p>{% endif %}
{% endfor %}

{% comment %} filter past events {% endcomment %}
<script>
if (Array.from) {
	for (const event of Array.from(document.querySelectorAll('[data-date]'))) {
		if ((parseInt(event.dataset.date) * 1000) < Date.now()) {
			event.style.display = 'none';
		}
	}
}
</script>
