<footer class="padding-vertical">
	<div class="content">
		<p>&copy; {{ 'now' | date: '%Y' }} Equippers Berlin e. V. - Alle Rechte vorbehalten. Equippers ist eine Kirche im Bund Freikirchlicher Pfingstgemeinden KdöR.</p>

		<ul>
			<li><a href="https://www.equipperschurch.com">Equippers Global</a></li>
			<li><a href="https://equipperscollege.com">Equippers College</a></li>
			<li><a href="https://www.equipperschurch.com/music">Equippers Music</a></li>
			<li><a href="https://www.facebook.com/equippersberlin">Facebook</a></li>
			<li><a href="https://twitter.com/equippersberlin">Twitter</a></li>
			<li><a href="https://plus.google.com/+EquippersDe">Google+</a></li>
		</ul>

		<h3 class="uppercase underline">Kontakt:</h3>
		<p class="no-margin-top">
			Blissestr. 2, 10713 Berlin<br>
			<a href="mailto:mail@equippers.de">mail@equippers.de</a><br>
			<a href="tel:+493031804840">+49 (0)30 3180 4840</a>
		</p>

		<h3 class="uppercase underline">Bankverbindung:</h3>
		<p class="no-margin-top">
			<strong>Inhaber:</strong> Equippers Berlin e. V.<br>
			<strong>IBAN:</strong> DE39100500000190371552<br>
			<strong>BIC:</strong> BELADEBE<br>
			<strong>Bank:</strong> Berliner Sparkasse
		</p>
	</div>
</footer>
