<p>&copy; {{ 'now' | date: '%Y' }} Equippers Berlin e. V. - Alle Rechte vorbehalten. Equippers ist eine Kirche im Bund Freikirchlicher Pfingstgemeinden KdöR.</p>

<ul>
	<li><a href="https://www.equipperschurch.com">Equippers Global</a></li>
	<li><a href="https://equipperscollege.com">Equippers College</a></li>
	<li><a href="https://www.equipperschurch.com/music">Equippers Music</a></li>
	<li><a href="https://www.facebook.com/">Facebook</a></li>
	<li><a href="https://twitter.com/">Twitter</a></li>
	<li><a href="https://plus.google.com/">Google+</a></li>
</ul>

<h3 class="uppercase underline">Kontakt:</h3>
<p class="no-margin-top">
	{{ include.contact.address }}<br>
	<a href="mailto:{{ include.contact.email }}">{{ include.contact.email }}</a><br>
	<a href="tel:{{ include.contact.phone_link }}">{{ include.contact.phone }}</a>
</p>

<h3 class="uppercase underline">Bankverbindung:</h3>
<p class="no-margin-top">
	<strong>Inhaber:</strong> {{ include.bank_account.holder }}<br>
	<strong>IBAN:</strong> {{ include.bank_account.iban }}<br>
	<strong>BIC:</strong> {{ include.bank_account.bic }}<br>
	<strong>Bank:</strong> {{ include.bank_account.bank }}
</p>
