<p>&copy; 2018 Equippers Berlin e. V. - Alle Rechte vorbehalten. Equippers ist eine Kirche im Bund Freikirchlicher Pfingstgemeinden KdöR.</p>

<ul>
	<li><a href="https://www.equipperschurch.com">Equippers Global</a></li>
	<li><a href="https://www.equipperscollege.com">Equippers College</a></li>
	<li><a href="https://www.equipperschurch.com/music">Equippers Music</a></li>
	<li><a href="https://www.facebook.com/">Facebook</a></li>
	<li><a href="https://twitter.com/">Twitter</a></li>
	<li><a href="https://plus.google.com/">Google+</a></li>
</ul>

<h3 class="uppercase underline">Kontakt:</h3>
<p class="no-margin-top">
	{{ include.contact.address }}<br>
	<a href="mailto:{{ contact.email }}">{{ include.contact.email }}</a><br>
	<a href="tel:{{ contact.phone_link }}">{{ include.contact.phone }}</a>
</p>

<h3 class="uppercase underline">Bankverbindung:</h3>
<p class="no-margin-top">
	Inhaber: {{ include.bank_acount.holder }}<br>
	IBAN: {{ include.bank_acount.iban }}<br>
	BIC: {{ include.bank_acount.bic }}<br>
	Bank: {{ include.bank_acount.bank }}
</p>
