<footer class="padding-vertical">
	<div class="content">
		<p>&copy; {{ 'now' | date: '%Y' }} Equippers Hamburg - Alle Rechte vorbehalten. Equippers ist eine Kirche im Bund Freikirchlicher Pfingstgemeinden KdöR.</p>

		<ul>
			<li><a target="_blank" href="https://www.equipperschurch.com">Equippers Global</a></li>
			<li><a target="_blank" href="https://equipperscollege.com">Equippers College</a></li>
			<li><a target="_blank" href="https://www.equipperschurch.com/music">Equippers Music</a></li>
			<li><a target="_blank" href="https://www.facebook.com/equippershamburg">Facebook</a></li>
			<li><a target="_blank" href="https://www.instagram.com/equippershamburg/">Instagram</a></li>
		</ul>

		<h3 class="uppercase underline">Kontakt:</h3>
		<p class="no-margin-top">
			Hafenstr. 12, 34567 Hamburg<br>
			<a href="mailto:hamburg@equippers.de">hamburg@equippers.de</a><br>
			<a href="tel:+493031804840">+49 (0)30 3180 4840</a>
		</p>

	</div>
</footer>
