.communities
	display: grid
	grid-template-columns: repeat(3, 1fr)

	.card
		margin: 1em

		.img
			padding-bottom: 56.25% // 16:9
			background: url(https://simonhaenisch.com/assets/me.2017.jpg)
			background-size: cover
			background-position: center
			border-radius: 12px 12px 0 0

		.title
			padding: 1em
			border: 1px solid #ddd
			border-top: none
			border-radius: 0 0 12px 12px
			background: #eee
			text-align: center
			font-weight: 900
			text-transform: uppercase