.heart-beats
	makeGrid(1fr)
	align-items: start

	max-width: 90%
	margin: 0 auto

	@media(min-width: $desktop-breakpoint)
		grid-template-columns: repeat(5, 1fr)

		p
		font-size: 0.9em

	.beat
		background-color: $light-gray
		addBorderRadius()

	.drop-cap
		@extends .black-font
		font-size: 5em
		line-height: 1
