.landing
	height: 100vh
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: repeat(3, 1fr)

	a
		background-size: cover
		background-position: center

		text-decoration: none

		display: grid
		grid-template-columns: 1fr
		justify-items: center
		align-items: center

