.landing
	height: 100vh
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: repeat(3, 1fr)

	a
		background-size: cover
		background-position: center

		text-decoration: none

		@media (min-width: $tablet-breakpoint)
			font-size: 1.25em

		display: grid
		grid-template-columns: 1fr
		justify-items: center
		align-items: center

		border: 0px solid $yellow
		addTransition('border, color')

		&:hover
			border-width: 0.5rem
			color: $yellow

		addTransparentBackgroundOverlay()
