.landing-logo
	width: 100%
	height: 10vh
	min-height: 3em
	background-color: $yellow

	svg
		display: block
		height: 100%
		margin: 0 auto
		padding: 1em
		fill: $dark

.landing
	height: 90vh

	display: grid
	grid-template-areas: "berlin" "mainz" "hamburg" "muenchen"

	@media (min-width: $tablet-breakpoint)
		grid-template-areas: \
			"berlin berlin" \
			"mainz mainz" \
			"hamburg muenchen"

	a
		background-size: cover
		background-position: center
		box-sizing: border-box

		text-decoration: none

		@media (min-width: $tablet-breakpoint)
			font-size: 1.25em

		makeGrid(1fr, gap: 0)
		align-content: center

		addTransition('box-shadow, color')

		&:hover
			box-shadow: inset 0.5rem 0.5rem $yellow, inset -0.5rem -0.5rem $yellow
			color: $yellow

		addTransparentBackgroundOverlay()
