.promos
	display: grid
	grid-template-columns: 1fr

	.square
		height: 100vw
		text-decoration: none
		background-size: cover
		background-position: center center
		padding: 1rem

		display: grid
		align-content: center
		justify-content: center
		text-align: center

		addTransparentBackgroundOverlay()

		// hover effect

		$effect-size = 1rem

		border: 0px solid $yellow
		addTransition(border)
		&:hover
			border-bottom-width: $effect-size

		h2
			addTransition(padding-top)
		&:hover
			h2
				padding-top: $effect-size

	@media (min-width: $desktop-breakpoint)
		grid-template-columns: repeat(3, 1fr)

		.square
			height: 33.3333vw
