.button
	display: inline-block
	padding: 0.75em 1em
	border-radius: 3px
	text-decoration: none
	background-color: $light-gray
	color: $dark-gray
	// box-shadow: 5px 5px $medium-gray

	&:hover
		addTransition(properties: background-color, color)
		background-color: $dark-gray
		color: $white

	&::before
		content: '\0000BB'
		padding-right: 0.25em
		font-size: 1.4em
		line-height: 0

	&.outline
		// border: 1px solid