.button
	display: inline-block
	padding: 0.75em 1.5em
	border: 1px solid
	border-color: darken($light-gray, 10%)
	addBorderRadius()
	text-decoration: none
	background-color: $light-gray
	color: $dark
	addTransition('background-color, color')

	&:hover
		background-color: @border-color
		color: darken(@color, 10%)


	&::before
		content: '\0000BB'
		padding-right: 0.25em
		font-size: 1.4em
		line-height: 0

	&.outline
		border-color: $dark
		background-color: transparent

		&:hover
			background-color: $dark
			color: $light

		&.light
			border-color: $light
			color: $light
			&:hover
				background-color: $light
				color: $dark

	for value in ('dark' 'light') ('green' 'light') ('yellow' 'dark')
		&.{value[0]}
			background-color: $ + unquote(value[0])
			color: $ + unquote(value[1])
			border-color: darken(@background-color, 10%)

			&:hover
				background-color: @border-color
