.card
	.img
		padding-bottom: 56.25% // 16:9
		background-color: $medium-gray
		background-size: cover
		background-position: center
		border-radius: 12px 12px 0 0

	.title
		padding: 1em
		border: 1px solid #ddd
		border-top: none
		border-radius: 0 0 12px 12px
		background: #eee
		text-align: center
		font-weight: 900
		text-transform: uppercase

a.card
	text-decoration: none
