form
	input
		font-size: 1rem
		padding: 1em
		border: 1px solid darken($light-gray, 10%)
		background-color: $white

		&:hover
			border-color: darken($light-gray, 20%)

		&:focus
			outline: none
			border-color: darken($light-gray, 30%)

		&:focus:hover
			border-color: darken($light-gray, 45%)
