---
hero:
  html: <h1>Startup Hamburg</h1>
  image: /uploads/hamburg-4-1440.jpg
mailchimp_options:
  action: https://facebook.us17.list-manage.com/subscribe/post?u=c3cbc3d3916c89cb826885234&amp;id=02265232f7
  fake_input_name: b_c3cbc3d3916c89cb826885234_02265232f7
---

{% include hero.html options=page.hero %}

<section class="light-gray padding-vertical">
	<div class="editable content">
		<h3>Wir starten eine Equippers Kirche in Hamburg!</h3>
		<p>Willst du mehr wissen? Lass uns deine Email-Adresse da und wir schicken dir alle Infos zu unseren nächsten Treffen.</p>
	</div>
</section>

{% include newsletter.html options=page.mailchimp_options %}

<article class="padding-bottom">
	<section class="editable content">
		<h2>Über Uns</h2>

		<h3>Unsere Vision</h3>
		<p>Wir glauben und arbeiten für eine lebendige, wachsende und begeisterte Kirche in Hamburg, die Menschen dient, die Gott nicht kennen.</p>

		<h3>Wer wir sind</h3>
		<p>
			Moin! Wir sind Ende 2017 in die Hansestadt gezogen. Gemeinsam mit unseren drei Töchtern wollen wir unserem Traum von einer neuen Freikirche in der zweitgrößten Stadt Deutschlands Ausdruck verleihen.<br>
			<br>
			Wir freuen uns darauf, dich kennenzulernen.<br>
			<i>Vincent & Esther Klein</i>
		</p>

		<img src="/uploads/vincent-und-esther-klein.jpg" alt="Bild von Vincent und Esther Klein">

		<h3>Unsere Familie</h3>
		<p>Equippers Hamburg ist Teil einer <a href="https://www.equipperschurch.com">weltweiten Familie</a> von über zwanzig Kirchen, die beständig wächst. Durch den apostolischen Dienst von Pastor Bruce Monk aus Neuseeland entstehen überall auf der Welt wachsende, gesunde Kirchen. Gemeinsam können wir einen größeren Einfluss darauf haben, das Evangelium weiterzugeben.</p>

		<h3>Unsere Mission</h3>
		<p>Wir wollen die ganze Kirche für ihre Mission ausrüsten und freisetzen. Wir glauben, dass jeder Christ zum Dienen berufen ist, nicht nur ein paar Auserwählte. Erziehung, Bildung, Sport, Gesundheitswesen, Geschäftswelt, Politik, Medien, Kunst, Entertainment, Familie... egal, für welchen Teil unserer Gesellschaft Gott dich berufen hat, wir wollen füreinander einstehen und dich anfeuern, damit du das Reich Gottes in deine Welt bringen kannst.</p>

		<h3>Unsere Werte</h3>
		<p>Wenn Menschen zusammenkommen und sich mit vereinbarten Werten für ein gemeinsames Ziel einsetzen, werden sie zu einer unaufhaltsamen Kraft. Die Bibel sagt in Sprüche 4, dass aus unserem Herzen das Leben fließt. Um uns zu helfen, eine gesunde Kultur zu erhalten, drücken wir unsere Werte deshalb mit dem einfach zu merkenden Akronym <strong>HEART</strong> aus. Das sind unsere Herzschläge.</p>
	</section>

	{% include heart-beats.html heart_beats=site.data.heart_beats %}
</article>
