---
hero:
  html: <h1>Startup München</h1>
  image: /uploads/munich-1440.jpg
---

{% include hero.html options=page.hero %}

<section class="light-gray padding-vertical">
	<div class="editable content">
		<h3>Willst du mehr wissen?</h3>
		<p>Lass uns deine Email-Adresse da und wir schicken dir alle Infos zu unseren nächsten Treffen.</p>
	</div>
</section>

{% include newsletter.html %}

<section id="about">
	<div class="editable content">
		<h2>Über Uns</h2>
		<h3>Meet the Overmeyers</h3>
		<p>Blah blah blah...</p>
	</div>
</section>
