---
title: Kirche anders als du denkst
---

<!DOCTYPE html>
<!-- https://github.com/equippers/equippers.de -->
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="google-site-verification" content="aHG57sS_1tMIIWGW-MXQVZY-hipSQg9Poc9-gBKyC3Q">

	<title>{% if page.title %}{{ page.title }} — {% endif %}{{ layout.title }}</title>

	{% include critical-css.html %}
</head>
<body>

{{ content }}

<link rel="stylesheet" type="text/css" href="/styles/main.css">
{% asset main.js %}
{% include icons.html %}
</body>
</html>
