---
title: Kirche anders als du denkst
---

<!DOCTYPE html>
<!-- for source code see github.com/equippers/equippers.de -->
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="google-site-verification" content="aHG57sS_1tMIIWGW-MXQVZY-hipSQg9Poc9-gBKyC3Q">

	<title>{% if page.title %}{{ page.title }} — {% endif %}{{ layout.title }}</title>

	<link rel="stylesheet" href="https://use.typekit.net/rzo8uqn.css">
	<link rel="stylesheet" href="/styles/main.css">
</head>
<body>

{{ content }}

{% asset main.js %}
</body>
</html>
