html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

body
	overflow-x: hidden
	background-color: $white

.max-width
	max-width: 50rem
	margin: 0 auto

.content
	@extends .max-width
	max-width: 52rem
	padding: 0 1rem
