html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

body
	overflow-x: hidden

button
	cursor: pointer

section
	background-size: cover
	background-position: center

	for bg-color in 'light-gray'
		&.{bg-color}
			background-color: $ + unquote(bg-color)

.content
	@extends .padding-horizontal
	@extends .max-width

.full-width-image
	img
		width: 100%
		max-height: 75vh
		object-fit: cover

*:focus
	outline-color: $yellow
