html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

body
	overflow-x: hidden
	background-color: $light
	color: $dark

.content
	@extends .padding-horizontal
	@extends .max-width

.full-width-image
	img
		width: 100%
