.max-width
	max-width: 50rem
	margin: 0 auto

.margin-top
	margin-top: 1em

.margin-bottom
	margin-bottom: 1em

.margin-vertical
	@extends .margin-top
	@extends .margin-bottom

.centered
	text-align: center

.uppercase
	text-transform: uppercase

.fixed-width
	font-feature-settings: "tnum"
	font-variant-numeric: tabular-nums

.dark
	background-color: $black
	color: $light

