// --
// Margins

.margin-top
	margin-top: 1rem

.margin-bottom
	margin-bottom: 1rem

.margin-vertical
	@extends .margin-top
	@extends .margin-bottom

.no-margin-top
	margin-top: 0

.no-margin-bottom
	margin-bottom: 0

.no-margin-vertical
	@extends .no-margin-top
	@extends .no-margin-bottom

// --
// Paddings

.padding-top
	padding-top: 1rem

.padding-bottom
	padding-bottom: 1rem

.padding-vertical
	@extends .padding-top
	@extends .padding-bottom

.padding-left
	padding-left: 1rem

.padding-right
	padding-right: 1rem

.padding-horizontal
	@extends .padding-left
	@extends .padding-right

// --
// Typography

.max-width
	max-width: 60rem
	margin-left: auto
	margin-right: auto

.centered
	text-align: center

.uppercase
	text-transform: uppercase

.underline
	text-decoration: underline

.fixed-width
	font-feature-settings: "tnum"
	font-variant-numeric: tabular-nums

.dark
	background-color: $black
	color: $light
