// --
// Margins

.margin-top
	margin-top: 1rem

.margin-bottom
	margin-bottom: 1rem

.margin-vertical
	@extends .margin-top
	@extends .margin-bottom

.no-margin
	margin: 0

.no-margin-top
	margin-top: 0

.no-margin-bottom
	margin-bottom: 0

.no-margin-vertical
	@extends .no-margin-top
	@extends .no-margin-bottom

.no-margin-to-next
	margin-bottom: 0

	& + *
		margin-top: 0

// --
// Paddings

.padding-top
	padding-top: 1rem

.padding-bottom
	padding-bottom: 1rem

.padding-vertical
	@extends .padding-top
	@extends .padding-bottom

.padding-left
	padding-left: 1rem

.padding-right
	padding-right: 1rem

.padding-horizontal
	@extends .padding-left
	@extends .padding-right

.no-padding
	padding: 0

.no-padding-top
	padding-top: 0

.no-padding-bottom
	padding-bottom: 0

.no-padding-vertical
	padding-top: 0
	padding-botom: 0

.no-padding-horizontal
	padding-left: 0
	padding-right: 0

// --
// Typography

.max-width
	max-width: 60rem
	margin-left: auto
	margin-right: auto

.text-center
	text-align: center

.uppercase
	text-transform: uppercase

.underline
	text-decoration: underline

.fixed-width
	font-feature-settings: "tnum"
	font-variant-numeric: tabular-nums

.light-font
	font-weight: 200

.normal-font
	font-weight: 400

.bold-font
	font-weight: 600

.black-font
	font-weight: 900

.dark
	background-color: $black
	color: $light
