---
---

@import 'styles/normalize'
@import 'styles/variables'
@import 'styles/mixins'
@import 'styles/base'
@import 'styles/typography'

// components
@import 'styles/components/button'

// includes
@import 'styles/includes/header'
@import 'styles/includes/hero'

// sections
@import 'styles/sections/communities'
@import 'styles/sections/connect'