// --
// Add Border Radius

addBorderRadius(r = 0.1875rem)
	border-radius: r

// --
// Make Grid
makeGrid(cols, rows = none, gap = 1em)
	display: block
	display: grid
	grid-template: rows / cols
	grid-gap: gap

// --
// Add Transition

addTransition(props, duration = 300ms)
	// examples:
	//  - addTransition(color)
	//  - addTransition(color, 1s)
	//  - addTransition('color, background-color')
	//  - addTransition('color, background-color', 500ms)

	$parts = ()
	for prop in split(', ', props)
		push($parts, prop)
		will-change: unquote(join(', ', $parts))

	$parts = ()
	for prop in split(', ', props)
		push($parts, (prop + ' ' + duration + ' ease'))
		transition: unquote(join(', ', $parts))
