// --
// Add Border Radius

addBorderRadius(r = 0.1875rem)
	border-radius: r

// --
// Make Grid
makeGrid(cols, rows = none, gap = 1em)
	display: block
	display: grid
	grid-template: rows / cols
	grid-gap: gap

// --
// Add Transition

addTransition(props, duration = 300ms)
	// examples:
	//  - addTransition(color)
	//  - addTransition(color, 1s)
	//  - addTransition('color, background-color')
	//  - addTransition('color, background-color', 500ms)

	$parts = ()
	for prop in split(', ', props)
		push($parts, prop)
		will-change: unquote(join(', ', $parts))

	$parts = ()
	for prop in split(', ', props)
		push($parts, (prop + ' ' + duration + ' ease'))
		transition: unquote(join(', ', $parts))

// --
// Add Transparent Background Overlay

addTransparentBackgroundOverlay(value = 0.3)
	position: relative

	& > *
		position: relative
		z-index: 1

	&::after
		content: ''
		position: absolute
		top: 0
		left: 0
		z-index: 0
		width: 100%
		height 100%
		background-color: rgba(0, 0, 0, value)
