$font = 'sofia-pro', 'proxima-nova'

body
	font-family: $font, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif

	font-size: 1.125em

	@media (min-width: 600px)
		font-size: 1.25em