// --
// Breakpoints

$tablet-breakpoint = 45em // 720px
$desktop-breakpoint = 60em // 960px

// --
// Colors

$black = #04090b // rich black
$dark-gray = #353231 // jet
$medium-gray = #878783 // old silver
$light-gray = #eaeae9 // alabaster
$white = #fffcfb // snow

$blue = #453f78 // dark slate blue
$green = #42a36f // medium sea green
$yellow = #ffd279 // topaz
$orange = #fc9f5b // sandy brown
$red = #fe4a49 // tart orange
$purple = #a63446 // sweet brown

$brand-red = #ea262e

$light = $white
$dark = $dark-gray
